services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env 
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src  
  db:
    image: postgres:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/

volumes:
  db_data: